<nav className="navbar navbar-expand-lg navbar-custom">
    <div className="container">
        <a className="navbar-brand text-white" href="dashboard.html">💰 SavvySave</a>
        <button className="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span className="navbar-toggler-icon" />
        </button>
        <div className="collapse navbar-collapse" id="navbarNav">
            <ul className="navbar-nav ms-auto">
                <li className="nav-item"><a className="nav-link text-white" href="dashboard.html">Dashboard</a></li>
                <li className="nav-item"><a className="nav-link text-white" href="overview.html">Overview</a></li>
                <li className="nav-item"><a className="nav-link text-white" href="transaction.html">Transactions</a></li>
                <li className="nav-item"><a className="nav-link text-white" href="profile.html">Profile</a></li>
                <li className="nav-item"><a className="nav-link text-white" href="index.html">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>